h1 {
  font-size: x-large;
  margin-left: 20px;
}

img {
  max-width: 20px;
  vertical-align: middle;
}

div.nav-img {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.5s;
}
div.nav-img:hover {
  background-color: rgba(255,255,255,0.2);
}

